<div class="main-content section">
  <div class="row">
    <div class="col s12 theme-table">
      <div class="row">
        <mz-select-container class="col s6">
          <select mz-select
                  [placeholder]="'Clientes por página'"
                  (change)="setRows($event)">
            <option value="10" selected>10 Clientes por página</option>
            <option value="25">25 Clientes por página</option>
            <option value="50">50 Clientes por página</option>
          </select>
        </mz-select-container>
        <div class="input-field col s6">
          <input type="text" class="validate" (keyup)='onSearch($event)'>
          <label>Buscar</label>
        </div>
      </div>

      <ngx-datatable
        class="material"
        [messages]="{
                emptyMessage: 'table.noData' | translate,
                totalMessage: 'table.total' | translate
        }"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [externalSorting]="true"
        [loadingIndicator]="loading"
        [trackByProp]="'updated'"
        (sort)="onSort($event)">

        <ngx-datatable-column name="DNI" prop="client.dni">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <b>{{value}}</b>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nombre" prop="client.name">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Apellidos" prop="client.surname1">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.client.surname1}} {{row.client.surname2}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="VIP" prop="vip">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span [ngClass]="{'client-vip': value, 'client-notvip': !value}">{{ 'clientsTable.vip.' + value | translate }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha de entrada" prop="date">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | timeAgo}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</div>
