<div class="main-content section">
  <div class="row">
    <div class="col s12 theme-table">
      <div class="row">
        <mz-select-container class="col s6">
          <select mz-select
                  [placeholder]="'Clientes por página'"
                  (change)="setRows($event)">
            <option value="10" selected>10 Clientes por página</option>
            <option value="25">25 Clientes por página</option>
            <option value="50">50 Clientes por página</option>
          </select>
        </mz-select-container>
        <div class="input-field col s6">
          <input type="text" class="validate" (keyup)='onSearch($event)'>
          <label>Buscar</label>
        </div>
      </div>

      <ngx-datatable
        class="material"
        [messages]="{
                emptyMessage: 'table.noData' | translate,
                totalMessage: 'table.total' | translate
        }"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [externalSorting]="true"
        [loadingIndicator]="loading"
        [trackByProp]="'updated'"
        (sort)="onSort($event)">


        <ngx-datatable-column name="Identificador" prop="dni">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nombre" prop="name">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Apellidos" prop="[surname1,surname2]">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.surname1}} {{row.surname2}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Edad" prop="birthdate">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | age}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Estado de datos">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="client-data-{{row.getProfileStatus().toLowerCase()}}"> {{'clientsData.' + row.getProfileStatus() | translate}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mz-button (click)="editExtraData(row)">Editar</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<mz-modal #editConflictivity [fixedFooter]="true" [bottomSheet]="true" [fullscreen]="true" [options]="modalOptions"
          class="black-text">
  <mz-modal-header>
    <h4>Datos extra de clientes</h4>
  </mz-modal-header>
  <mz-modal-content>
    <form materialize class="col s12" usersCrud>
      <div class="row">
        <mz-input-container class="col s12 m6">
          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input
                 name="email"
                 [(ngModel)]="actualClient.email"
                 [label]="'Email'"
                 [validate]="true"
                 [dataError]="'El formato del email es inválido.'"
                 [dataSuccess]="'¡Email válido!'"
                 placeholder="Email"
                 length="150"
                 type="email">
        </mz-input-container>
        <mz-input-container class="col s12 m6">
          <i mz-icon-mdi mz-input-prefix
             [icon]="'email'">
          </i>
          <input mz-input
                 name="email"
                 [(ngModel)]="actualClient.address"
                 [label]="'Dirección de casa'"
                 [validate]="true"
                 [dataError]="'Dirección inválida.'"
                 [dataSuccess]="'¡Dirección válida!'"
                 placeholder="Dirección de casa"
                 length="150"
                 type="text">
        </mz-input-container>
        <mz-select-container class="col s12 m6">
          <select mz-select
                  [label]="'Sexo'"
                  [name]="'client-sex'"
                  [placeholder]="'Escoge el sexo'"
                  [(ngModel)]="actualClient.gender.id"
          >
            <option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</option>
          </select>
        </mz-select-container>
      </div>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
    <button mz-button [flat]="true" (click)="setConflictive()">Confirmar</button>
  </mz-modal-footer>
</mz-modal>
