<div class="main-content section">
    <div class="row">
        <div class="col s12 m12">
            <div class="row">
                <div class="input-field col s6">
                    <select materialize="material_select" (change)="setRows($event)">
                        <option value="10" selected>10 Clientes por página</option>
                        <option value="25">25 Clientes por página</option>
                        <option value="50">50 Clientes por página</option>
                    </select>
                    <label>Clientes por página</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="validate" (keyup)='onSearch($event)'>
                    <label for="first_name">Buscar</label>
                </div>
            </div>

            <ngx-datatable
                class="material"
                [rows]="rows"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [count]="page.totalElements"
                [offset]="page.pageNumber"
                [limit]="page.size"
                (page)='setPage($event)'
                [externalSorting]="true"
                [loadingIndicator]="loading"
                [trackByProp]="'updated'"
                (sort)="onSort($event)">


                <ngx-datatable-column name="DNI" prop="client.dni">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre" prop="client.name">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apellidos" prop="client.surname1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.client.surname1}} {{row.client.surname2}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="VIP" prop="vip">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span [ngClass]="{'client-vip': value, 'client-notvip': !value}">{{ 'clientsTable.vip.' + value | translate }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha" prop="date">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value | timeAgo}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Tipo de ficha" prop="type">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span class="client-entrance-{{value.toLowerCase()}}">{{'clientsTable.type.' + value | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
</div>