<div class="main-content section">
  <div class="row">
    <div class="col s12 theme-table">
      <div class="row">
        <mz-select-container class="col s6">
          <select mz-select
                  [placeholder]="'Clientes por página'"
                  (change)="setRows($event)">
            <option value="10" selected>10 Clientes por página</option>
            <option value="25">25 Clientes por página</option>
            <option value="50">50 Clientes por página</option>
          </select>
        </mz-select-container>
        <div class="input-field col s6">
          <input type="text" class="validate" (keyup)='onSearch($event)'>
          <label>Buscar</label>
        </div>
      </div>

      <ngx-datatable
        class="material"
        [messages]="{
                emptyMessage: 'table.noData' | translate,
                totalMessage: 'table.total' | translate
        }"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [externalSorting]="true"
        [loadingIndicator]="loading"
        [trackByProp]="'updated'"
        (sort)="onSort($event)">


        <ngx-datatable-column name="Identificador" prop="dni">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nombre" prop="name">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Apellidos" prop="[surname1,surname2]">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.surname1}} {{row.surname2}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Edad" prop="birthdate">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | age}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mz-button (click)="checkConflictive(row)">Conflictividad</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<mz-modal #editConflictivity [fixedFooter]="true" [bottomSheet]="true" [fullscreen]="true" [options]="modalOptions"
          class="black-text">
  <mz-modal-header>
    <h4>Revisión de conflictividad</h4>
  </mz-modal-header>
  <mz-modal-content>
    <mz-checkbox-container *ngFor="let conflictiveReason of conflictiveReasons">
      <input mz-checkbox
             [label]="conflictiveReason.trans_es"
             [id]="'conflictive-' + conflictiveReason.id"
             [filledIn]="true"
             [checked]="conflictiveReason.checked"
             (change)="changeConflictStatus(conflictiveReason.id,conflictiveReason.checked)"
             type="checkbox">
    </mz-checkbox-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
    <button mz-button [flat]="true" (click)="setConflictive()">Confirmar</button>
  </mz-modal-footer>
</mz-modal>
