<div class="main-content section">
  <div class="row">
    <div class="col s12 theme-table">
      <div class="row">
        <mz-select-container class="col s6">
          <select mz-select
                  [placeholder]="'Configuraciones por página'"
                  (change)="setRows($event)">
            <option value="10" selected>10 Configuraciones por página</option>
            <option value="25">25 Configuraciones por página</option>
            <option value="50">50 Configuraciones por página</option>
          </select>
        </mz-select-container>
        <div class="input-field col s6">
          <input type="text" (keyup)='onSearch($event)'>
          <label>Buscar</label>
        </div>
      </div>

      <ngx-datatable
        class="material"
        [messages]="{
                emptyMessage: 'table.noData' | translate,
                totalMessage: 'table.total' | translate
        }"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [externalSorting]="true"
        [loadingIndicator]="loading"
        [trackByProp]="'updated'"
        (sort)="onSort($event)">

        <ngx-datatable-column name="Configuración" prop="config">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ 'config.' + value | translate }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Valor" prop="value">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button mz-button [float]="true" (click)="editConfigModal(row)">
              <i mz-icon-mdi [icon]="'pencil'"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</div>

<mz-modal #configActionModal [fixedFooter]="true" [options]="modalOptions">
  <mz-modal-content>
    <form class="col s12 black-text" usersCrud>
      <div class="row">
        <input name="real_config_name" type="hidden" readonly [(ngModel)]="modalConfig.config">
        <h4 class="text-center">{{ 'config.' + modalConfig.config | translate }}</h4>
        <div class="input-field col s12">
          <input name="address" type="text" autocomplete="off" class="validate" [(ngModel)]="modalConfig.value">
          <label *ngIf="!modalConfig.value">Valor</label>
        </div>
      </div>
    </form>

  </mz-modal-content>
  <mz-modal-footer>
    <a class="modal-action modal-close waves-effect waves-green btn-flat"></a>
    <a class="waves-effect waves-green btn-flat"></a>
    <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
    <button mz-button [flat]="true" (click)="editConfigRest()" e>Confirmar</button>
  </mz-modal-footer>
</mz-modal>
