<!-- Content -->
<div class="main-content section text-center">
  <div class="row">
    <div class="preloader-wrapper big active margin-top-40vh"
         *ngIf="roomUsers[0]['loading'] || roomClients[0]['loading']">
      <div class="spinner-layer spinner-white-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <h4 *ngIf="roomUsers[0]['loading'] || roomClients[0]['loading']">{{'dashboard.charts.loading' | translate}}</h4>
    <div class="col s12 grid-as-4"
         *ngIf="!roomUsers[0]['loading'] && !roomClients[0]['loading'] && roomUsers[0]['realUsers'] > 0">
      <ngx-charts-line-chart
        [results]="roomUsers"
        [scheme]="colorScheme"
        [animations]="true"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [gradient]="false"
        [legend]="false"
        [yScaleMin]="0"
        [tooltipDisabled]="false"
        [xAxisLabel]="'dashboard.userschart.time' | translate"
        [yAxisLabel]="'dashboard.userschart.users' | translate"
        [autoScale]="false"
        [timeline]="false">
      </ngx-charts-line-chart>
    </div>
    <div class="row" *ngIf="!roomUsers[0]['loading'] && !roomClients[0]['loading'] && roomUsers[0]['realUsers'] === 0">
      <div class="col s12 m6 offset-m3">
        <div class="card-panel white">
          <span class="black-text">{{'dashboard.userschart.nodata' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="divider white"
         *ngIf="!roomUsers[0]['loading'] && roomUsers[0]['realUsers'] > 0 && !roomClients[0]['loading'] && roomClients[0]['realClients'] > 0"></div>
    <div class="col s12 grid-as-4"
         *ngIf="!roomClients[0]['loading'] && !roomUsers[0]['loading'] && roomClients[0]['realClients'] > 0">
      <ngx-charts-line-chart
        [results]="roomClients"
        [animations]="true"
        [xAxis]="true"
        [yAxis]="true"
        [yScaleMax]="maxClients"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [showGridLines]="true"
        [roundDomains]="true"
        [gradient]="false"
        [legend]="false"
        [yScaleMin]="0"
        [tooltipDisabled]="false"
        [xAxisLabel]="'dashboard.clientschart.time' | translate"
        [yAxisLabel]="'dashboard.clientschart.users' | translate"
        [autoScale]="false"
        [timeline]="false">
      </ngx-charts-line-chart>
    </div>
    <div class="row"
         *ngIf="!roomUsers[0]['loading'] && !roomClients[0]['loading'] && roomClients[0]['realClients'] === 0">
      <div class="col s12 m6 offset-m3">
        <div class="card-panel white">
          <span class="black-text">{{'dashboard.clientschart.nodata' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / .main-content -->
