
<!-- Content -->
<div class="main-content section">
    <div class="row">
        <div class="col s12 m6">
            <ngx-charts-bar-vertical
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
        <div class="col s12 m6 l3">
            <div class="card card-basic mb-10">
                <div class="card-header white">
                    <i class="material-icons dark-main-3-text">shopping_cart</i>
                </div>
                <div class="card-content dark-main-1-soft">
                    <p class="category white-text">{{ 'nav.start' | translate }}</p>
                    <h5 class="title">1680
                        <small>K</small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card card-basic mb-10">
            <div class="card-header white">
                <i class="material-icons dark-main-3-text">shopping_cart</i>
            </div>
            <div class="card-content dark-main-1-soft">
                <p class="category white-text">{{ 'nav.start' | translate }}</p>
                <h5 class="title">1680
                    <small>K</small>
                </h5>
            </div>
        </div>
    </div>
</div>

</div>
<!-- / .main-content -->