<div class="row">
  <header class="disable-select">
    <mz-sidenav #sidenav
                [id]="'mobileMenu'"
                [backgroundClass]="'own-sidenav menu'"
                [collapseButtonId]="'openMobileMenu'"
                [fixed]="true"
                [edge]="'left'"
                [closeOnClick]="true"
                [draggable]="true"
                class="hide-on-large-only">
      <mz-progress class="hide-on-large-only" *ngIf="filteredMenuOptions.length === 0"></mz-progress>
      <mz-sidenav-header>
        <li class="own-sidenav-user valign-wrapper" [ngClass]="'editable'"
            (click)="canEditLogo ? changeLogo():router.navigate(['dashboard'])">
          <span class="logo" [style.background-image]="logo"></span>
          <i [ngClass]="!canEditLogo ? 'hidden':''" mz-icon-mdi class="material-icons edit" [align]="'right'"
             icon="pencil"></i>
        </li>
      </mz-sidenav-header>
      <mz-sidenav-collapsible *ngFor="let menuOption of filteredMenuOptions">
        <mz-sidenav-collapsible-header *ngIf="menuOption.submenus?.length === 0">
          <mz-sidenav-link [routerLink]="[menuOption.link]">
            <a [routerLink]="[menuOption.link]">
              <i mz-icon-mdi class="material-icons white-text" [align]="'left'" [icon]="menuOption.icon"></i>
              <span class="white-text">{{ menuOption.text }}</span>
              <i mz-icon-mdi *ngIf="menuOption.submenus?.length > 0" [align]="'right'" [icon]="'chevron-down'"
                 class="white-text caret"></i>
            </a>
          </mz-sidenav-link>
        </mz-sidenav-collapsible-header>
        <mz-sidenav-collapsible-header *ngIf="menuOption.submenus?.length > 0">
          <i mz-icon-mdi class="material-icons white-text" [align]="'left'" [icon]="menuOption.icon"></i>
          <span class="white-text">{{ menuOption.text }}</span>
          <i mz-icon-mdi *ngIf="menuOption.submenus?.length > 0" [align]="'right'" [icon]="'chevron-down'"
             class="white-text caret"></i>
        </mz-sidenav-collapsible-header>

        <mz-sidenav-collapsible-content *ngIf="menuOption.submenus?.length > 0">
          <mz-sidenav-link *ngFor="let subMenuOption of menuOption.submenus">
            <a [routerLink]="[subMenuOption.link]">{{subMenuOption.text}}</a>
          </mz-sidenav-link>
        </mz-sidenav-collapsible-content>
      </mz-sidenav-collapsible>
    </mz-sidenav>
    <ul id="desktopMenu" class="col l3 xl2 hide-on-med-and-down own-sidenav menu">
      <li class="own-sidenav-user valign-wrapper" [ngClass]="'editable'"
          (click)="canEditLogo ? changeLogo():router.navigate(['dashboard'])">
        <span class="logo" [style.background-image]="logo"></span>
        <i [ngClass]="!canEditLogo ? 'hidden':''" mz-icon-mdi class="material-icons edit" [align]="'right'"
           icon="pencil"></i>
      </li>
      <li class="own-sidenav-links">
                <span *ngIf="!menuLoaded">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </span>
        <mz-progress class="hide-on-med-and-down" *ngIf="filteredMenuOptions.length === 0"></mz-progress>
        <ul *ngIf="filteredMenuOptions.length > 0" class="collapsible">
          <li *ngFor="let menuOption of filteredMenuOptions" [class.active]="menuOption.active">
            <a *ngIf="menuOption.submenus?.length === 0" [routerLink]="menuOption.link"
               class="waves-effect">
              <i mz-icon-mdi class="material-icons" [align]="'left'" [icon]="menuOption.icon"></i>
              <span>{{menuOption.text}}</span>
            </a>

            <mz-collapsible [mode]="'accordion'" *ngIf="menuOption.submenus?.length > 0">
              <mz-collapsible-item [active]="menuOption.active">
                <mz-collapsible-item-header>
                  <a href="javascript:void(0)">
                    <i mz-icon-mdi class="material-icons" [align]="'left'" [icon]="menuOption.icon"></i>
                    <span>{{menuOption.text}}</span>
                    <i mz-icon-mdi [align]="'right'" [icon]="'chevron-down'"></i>
                  </a>
                </mz-collapsible-item-header>
                <mz-collapsible-item-body>
          <li *ngFor="let subMenuOption of menuOption.submenus" [class.active]="subMenuOption.active">
            <a [routerLink]="[subMenuOption.link]">{{subMenuOption.text}}</a>
          </li>
          </mz-collapsible-item-body>
          </mz-collapsible-item>

          <li class="clearfix"></li>
          </mz-collapsible>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <mz-navbar [navbarClass]="'menu'" class="hide-on-large-only">
    <a routerLink="/" class="brand-logo center">{{discoName}}</a>
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <button mz-button [flat]="true" id="openMobileMenu" class="white-text"><i mz-icon-mdi [icon]="'menu'"></i>
        </button>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
  <main class="col s12 m12 l10 no-padding offset-l2">
    <section>
      <router-outlet></router-outlet>
    </section>
    <section *ngIf="canUseChat">
      <button class="open-chat-btn" mz-button [float]="true" id="chat-sidenav-trigger">
        <i mz-icon-mdi [icon]="'message-text'"></i>
      </button>
    </section>
    <div class="clearfix"></div>


  </main>
</div>

<mz-modal #changeLogoModal [fixedFooter]="true" [bottomSheet]="false" [fullscreen]="false" [options]="modalOptions"
          class="black-text">
  <mz-modal-content>
    <form class="upload-logo" action="upload.php" method="POST">
      <input (change)="logoUpload($event)"
             [disabled]="uploadingLogo"
             accept=".svg,.png,.jpg,.jpeg"
             type="file"
             ngFileDrop
             ngFileSelect
             [options]="options"
             [uploadInput]="uploadInput"
             single>
      <p [hidden]="uploadingLogo">Arrastra aquí tu logotipo o clicka en este cuadro para seleccionarlo. Aceptamos el
        formato svg, png, y jpg, con un tamaño máximo de 10 MB.</p>
      <div [hidden]="!uploadingLogo" class="uploading">
        <div class="preloader-wrapper big active margin-top-40vh">
          <div class="spinner-layer spinner-white-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button [disabled]="uploadingLogo" mz-button [flat]="true" (click)="cancelUpload()" mz-modal-close>Cancelar</button>
  </mz-modal-footer>
</mz-modal>

<mz-sidenav *ngIf="canUseChat"
            [id]="'chat-sidenav'"
            [collapseButtonId]="'chat-sidenav-trigger'"
            [draggable]="false"
            edge="right">
  <mz-sidenav-subheader *ngIf="null !== this.chatUsers"><span class="chat-status-dot online"></span> {{user?.firstname}}
    {{user?.lastname}}
    <button mz-button [float]="true">
      <i mz-icon-mdi [icon]="'message-text'"></i>
    </button>
  </mz-sidenav-subheader>
  <div *ngIf="null !== this.chatUsers">
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
      <a href="#" class="waves-effect"><span class="chat-status-dot online"></span> Second Link With Waves</a>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <a href="#" class="waves-effect"><span class="chat-status-dot offline"></span> Second Link With Waves</a>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <a href="#" class="waves-effect"><span class="chat-status-dot idle"></span> Second Link With Waves</a>
    </mz-sidenav-link>
  </div>
  <div *ngIf="null !== this.chatUsers && this.chatUsers.length === 0">
    <h4>No hay usuarios en el sistema.</h4>
    <p>Aquí estarán todos los trabajadores, pero actualmente no hay nadie...</p>
    <img class="no-users" draggable="false" src="assets/img/chat/no-users.jpg"/>
  </div>
  <div *ngIf="null === this.chatUsers">
    <h4>Chat offline</h4>
    <p>No se ha podido conectar con el servidor en tiempo real. Por favor, contacta con SCM o el técnico de tu local.</p>
    <img class="no-users" draggable="false" src="assets/img/chat/no-users.jpg"/>
  </div>
</mz-sidenav>
