<div class="main-content section container">
  <div class="row">
    <mz-card
      class="center-align theme-box"
      [hoverable]="true">
      <mz-card-title>
        {{'profile.cardtitle' | translate}}
      </mz-card-title>
      <mz-card-content>
        <div class="row">
          <mz-input-container class="col s12 m6 l4">
            <i mz-icon-mdi mz-input-prefix
               [icon]="'account-card-details'">
            </i>
            <input mz-input
                   [label]="'DNI'"
                   [value]="user.dni"
                   [validate]="false"
                   type="text"
                   disabled>
          </mz-input-container>
          <mz-input-container class="col s12 m6 l4">
            <i mz-icon-mdi mz-input-prefix
               [icon]="'account-box'">
            </i>
            <input mz-input
                   [label]="'Nombre'"
                   [(ngModel)]="user.firstname"
                   [value]="user.firstname"
                   [validate]="false"
                   type="text"
                   disabled>
          </mz-input-container>
          <mz-input-container class="col s12 m6 l4">
            <i mz-icon-mdi mz-input-prefix
               [icon]="'account-box-outline'">
            </i>
            <input mz-input
                   [label]="'Apellidos'"
                   [(ngModel)]="user.lastname"
                   [value]="user.lastname"
                   [validate]="false"
                   type="text"
                   disabled>
          </mz-input-container>
          <mz-input-container class="col s12 m6 l4">
            <i mz-icon-mdi mz-input-prefix
               [icon]="'email'">
            </i>
            <input mz-input
                   [name]="'prof-email'"
                   [(ngModel)]="user.email"
                   [label]="'Email'"
                   [value]="user.email"
                   [validate]="true"
                   type="email">
          </mz-input-container>
          <mz-input-container class="col s12 m6 l4">
            <i mz-icon-mdi mz-input-prefix
               [icon]="'map-marker'">
            </i>
            <input mz-input
                   [name]="'prof-address'"
                   [label]="'Dirección'"
                   [(ngModel)]="user.address"
                   [value]="user.address"
                   [validate]="true"
                   type="text">
          </mz-input-container>
          <mz-input-container class="col s12 m6 l4">
            <i mz-icon-mdi mz-input-prefix
               [icon]="'phone'">
            </i>
            <input mz-input
                   [name]="'prof-telephone'"
                   [label]="'Teléfono'"
                   [(ngModel)]="user.telephone"
                   [value]="user.telephone"
                   [validate]="true"
                   type="tel">
          </mz-input-container>

          <mz-select-container class="col s12 m6 l4">
            <select mz-select
                    [name]="'prof-lang'"
                    [label]="'Idioma'"
                    [(ngModel)]="user.langcode"
                    [placeholder]="'Escoge tu idioma'"
            >
              <option *ngFor="let lang of languages" data-icon="assets/img/langs/lang.png" class="left circle"
                      changeMenuLanguage
                      [value]="user.langcode"
                      [attr.data-menulang]="lang">{{ 'langs.' + lang | translate }}
              </option>
            </select>
          </mz-select-container>
          <mz-input-container class="col s12 m6 l4">
            <i mz-icon-mdi mz-input-prefix
               [icon]="'lock-outline'">
            </i>
            <input mz-input
                   [name]="'prof-pass'"
                   [(ngModel)]="user.password"
                   [label]="'Contraseña actual'"
                   [validate]="true"
                   type="password">
          </mz-input-container>
          <mz-switch-container class="col s12 m6 l4">
            <input mz-switch
                   [(ngModel)]="showPasswordChanger"
                   [on]="'Cambiar contraseña'"
                   [off]="'Mantener contraseña'"
                   type="checkbox">
          </mz-switch-container>

          <mz-input-container class="col s12 m6" *ngIf="showPasswordChanger" [@enterAnimation]>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'lock'">
            </i>
            <input mz-input
                   [name]="'prof-pass'"
                   [(ngModel)]="newPass1"
                   [label]="'Nueva contraseña'"
                   [validate]="true"
                   type="password">
          </mz-input-container>
          <mz-input-container class="col s12 m6" *ngIf="showPasswordChanger" [@enterAnimation]>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'lock-open'">
            </i>
            <input mz-input
                   [name]="'prof-pass2'"
                   [(ngModel)]="newPass2"
                   [label]="'Repite la nueva contraseña'"
                   [validate]="true"
                   type="password">
          </mz-input-container>

        </div>
      </mz-card-content>
      <mz-card-action>
        <button mz-button [large]="true" (click)="submitProfile()">
          Actualizar perfil
        </button>
      </mz-card-action>
    </mz-card>
  </div>
</div>
