/*
0. Variables
 */
/* Box card */
$preloader-bg-color: #424242;
$preloader-text-color: #eceff1;
$preloader-circle-color: #eceff1;
$theme-box-bg-color: rgba(255, 255, 255, 0.97) !default;
$theme-box-txt-color: #424242 !default;
$theme-box-button-bg-color: #212121 !default;
$theme-box-button-hover-bg-color: #424242 !default;
$theme-box-button-active-bg-color: #212121 !default;
$theme-box-button-text-color: #FFFFFF !default;
$theme-box-button-hover-text-color: #FFFFFF !default;
$theme-box-button-active-text-color: #FFFFFF !default;
$theme-box-link-color: #263238 !default;
$theme-box-link-hover-color: #455a64 !default;
$theme-box-icon-color: #212121 !default;
$theme-box-icon-active-color: #616161 !default;
$theme-box-input-label-color: #212121 !default;
$theme-box-input-underline-unselected-color: #757575 !default;
$theme-box-input-underline-selected-color: #bdbdbd !default;
/*
1. Estilo del preloader
 */
#preloader {
  background-color: $preloader-bg-color;
  color: $preloader-text-color;
  .spinner-layer {
    border-color: $preloader-circle-color
  }
}
/*
2. Estilo de las cajas.
 */
/* Color de fondo y de letras de la caja */

.theme-box {
  background-color: $theme-box-bg-color;
  color: $theme-box-txt-color;
  i[mz-icon-mdi] {
    color: $theme-box-icon-color;
  }
  i[mz-icon-mdi].active {
    color: $theme-box-icon-active-color;
  }
  button {
    background-color: $theme-box-button-bg-color;
    color: $theme-box-button-text-color;
    &:hover {
      background-color: $theme-box-button-hover-bg-color;
      color: $theme-box-button-hover-text-color;
    }
    &:active {
      background-color: $theme-box-button-active-bg-color;
      color: $theme-box-button-active-text-color;
    }
  }
  a.btn {
    background-color: $theme-box-button-bg-color;
    color: $theme-box-button-text-color;
    &:hover {
      background-color: $theme-box-button-hover-bg-color;
      color: $theme-box-button-hover-text-color;
    }
    &:active {
      background-color: $theme-box-button-active-bg-color;
      color: $theme-box-button-active-text-color;
    }
  }
  input + label {
    color: $theme-box-txt-color
  }
  a {
    color: $theme-box-link-color
  }
  a:hover {
    color: $theme-box-link-hover-color
  }
}

.input-field input:focus + label {
  color: $theme-box-input-label-color !important;
}

.row .input-field input {
  border-bottom: 1px solid $theme-box-input-underline-unselected-color !important;
  box-shadow: 0 1px 0 0 $theme-box-input-underline-unselected-color !important;
}
.row .input-field input:focus {
  border-bottom: 1px solid $theme-box-input-underline-selected-color !important;
  box-shadow: 0 1px 0 0 $theme-box-input-underline-selected-color !important;
}
