/*
0. Variables
 */
$preloader-bg-color: #424242;
$preloader-text-color: #eceff1;
$preloader-circle-color: #eceff1;
$theme-box-bg-color: rgba(255, 255, 255, 0.97) !default;
$theme-box-txt-color: #424242 !default;
$theme-box-button-bg-color: #212121 !default;
$theme-box-button-hover-bg-color: #424242 !default;
$theme-box-button-active-bg-color: #212121 !default;
$theme-box-button-text-color: #FFFFFF !default;
$theme-box-button-hover-text-color: #FFFFFF !default;
$theme-box-button-active-text-color: #FFFFFF !default;
$theme-box-link-color: #263238 !default;
$theme-box-link-hover-color: #455a64 !default;
$theme-box-icon-color: #212121 !default;
$theme-box-icon-active-color: #616161 !default;
$theme-box-input-label-color: #212121 !default;
$theme-box-input-underline-unselected-color: #757575 !default;
$theme-box-input-underline-selected-color: #bdbdbd !default;
$theme-box-switch-color: #212121 !default;
$main-background-color: #424242 !default;
$theme-table-bg-color: #FFFFFF !default;
$theme-table-hover-color: #eeeeee !default;
$theme-table-text-color: rgba(0, 0, 0, 0.87) !default;
$theme-table-header-color: rgba(0, 0, 0, 0.54) !default;
$theme-table-button-bg-color: #212121 !default;
$theme-table-button-text-color: #FFFFFF !default;
$theme-table-button-hover-bg-color: #424242 !default;
$theme-table-button-hover-text-color: #FFFFFF !default;
$theme-table-button-active-bg-color: #212121 !default;
$theme-table-button-active-text-color: #FFFFFF !default;
$theme-table-outside-bg-button: #fafafa !default;
$theme-table-outside-text-button: #212121 !default;
$theme-table-outside-hover-bg-button: #eeeeee !default;
$theme-table-outside-hover-text-button: #616161 !default;
$theme-table-outside-active-bg-button: #FFFFFFF !default;
$theme-table-outside-active-text-button: #000000 !default;
$theme-table-outside-select-text-color: #212121 !default;
$theme-table-outside-select-bg-color: #fafafa !default;
$theme-menu-logo-bg-color: #212121 !default;
$theme-menu-bg-color: #1B1B1B !default;
$theme-menu-text-color: #dddddd !default;
$theme-nav-mobile-bg-color: #1B1B1B !default;
$theme-nav-mobile-text-color: #dddddd !default;
$theme-menu-edit-icon-color: #f5f5f5 !default;
$theme-modal-upload-logo-box-border-color: #212121 !default;
$theme-modal-upload-logo-box-text-color: #424242 !default;
$theme-modal-content-bg-color: #fafafa !default;
$theme-modal-content-text-color: #212121 !default;
$theme-modal-footer-bg-color: #eeeeee !default;
$theme-modal-footer-text-color: #616161 !default;
$theme-modal-footer-button-bg-color: #eeeeee !default;
$theme-modal-footer-button-text-color: #616161 !default;
$theme-modal-footer-button-hover-bg-color: #e0e0e0 !default;
$theme-modal-footer-button-hover-text-color: #757575 !default;
$theme-modal-footer-button-active-bg-color: #424242 !default;
$theme-modal-footer-button-active-text-color: #f5f5f5 !default;
$theme-modal-footer-button-icon-color: #212121 !default;
$theme-modal-content-icon-color: #212121 !default;
$theme-modal-content-icon-active-color: #616161 !default;
$theme-modal-content-switch-color: #212121 !default;
$theme-modal-content-input-label-color: #212121 !default;
$theme-modal-content-input-underline-unselected-color: #757575 !default;
$theme-modal-content-input-underline-selected-color: #bdbdbd !default;
$theme-modal-upload-spinner-color: #212121;
$theme-text-selection-bg: #212121;
$theme-text-selection-color: #FFFFFF;
/*
1. Estilo del preloader
 */
#preloader {
  background-color: $preloader-bg-color;
  color: $preloader-text-color;
  .spinner-layer {
    border-color: $preloader-circle-color
  }
}

/*
2. Color de fondo principal
 */
body {
  background-color: $main-background-color
}
::selection {
  background: $theme-text-selection-bg;
  color: $theme-text-selection-color;
}
::-moz-selection {
  background: $theme-text-selection-bg;
  color: $theme-text-selection-color;
}
/*
3. Estilo de las cajas.
 */
.theme-box {
  background-color: $theme-box-bg-color;
  color: $theme-box-txt-color;
  i[mz-icon-mdi] {
    color: $theme-box-icon-color;
  }
  i[mz-icon-mdi].active {
    color: $theme-box-icon-active-color;
  }
  mz-card-title {
    color: $theme-box-txt-color;
  }
  button {
    background-color: $theme-box-button-bg-color;
    color: $theme-box-button-text-color;
    &:hover {
      background-color: $theme-box-button-hover-bg-color;
      color: $theme-box-button-hover-text-color;
    }
    &:active {
      background-color: $theme-box-button-active-bg-color;
      color: $theme-box-button-active-text-color;
    }
    &:focus {
      background-color: $theme-box-button-active-bg-color;
      color: $theme-box-button-active-text-color;
    }
  }
  a.btn {
    background-color: $theme-box-button-bg-color;
    color: $theme-box-button-text-color;
    &:hover {
      background-color: $theme-box-button-hover-bg-color;
      color: $theme-box-button-hover-text-color;
    }
    &:active {
      background-color: $theme-box-button-active-bg-color;
      color: $theme-box-button-active-text-color;
    }
    &:focus {
      background-color: $theme-box-button-active-bg-color;
      color: $theme-box-button-active-text-color;
    }
  }
  input + label {
    color: $theme-box-txt-color
  }
  a {
    color: $theme-box-link-color
  }
  a:hover {
    color: $theme-box-link-hover-color
  }
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color: $theme-box-switch-color !important;
  }
  .switch label input[type=checkbox]:checked + .lever {
    background-color: $theme-box-switch-color !important;
  }
  .input-field input:focus + label {
    color: $theme-box-input-label-color !important;
  }

  .row .input-field input {
    border-bottom: 1px solid $theme-box-input-underline-unselected-color !important;
    box-shadow: 0 1px 0 0 $theme-box-input-underline-unselected-color !important;
  }
  .row .input-field input:focus {
    border-bottom: 1px solid $theme-box-input-underline-selected-color !important;
    box-shadow: 0 1px 0 0 $theme-box-input-underline-selected-color !important;
  }
}

/*
4. Estilo de las tablas
 */
.theme-table {
  ul.dropdown-content.select-dropdown li span {
    color: $theme-table-outside-select-text-color;
    background-color: $theme-table-outside-select-bg-color;
  }
  button {
    background-color: $theme-table-outside-bg-button;
    color: $theme-table-outside-text-button;
    &:hover {
      background-color: $theme-table-outside-hover-bg-button;
      color: $theme-table-outside-hover-text-button;
    }
    &:active {
      background-color: $theme-table-outside-active-bg-button !important;
      color: $theme-table-outside-active-text-button !important;
    }
    &:focus {
      background-color: $theme-table-outside-active-bg-button !important;
      color: $theme-table-outside-active-text-button !important;
    }
  }
  ngx-datatable {
    background-color: $theme-table-bg-color !important;
    color: $theme-table-text-color !important;
    datatable-body-row:hover {
      background-color: $theme-table-hover-color !important
    }
    .datatable-header-cell-label, .page-count {
      color: $theme-table-header-color !important;
    }
    .datatable-body-cell {
      color: $theme-table-text-color !important;
    }
    button {
      background-color: $theme-table-button-bg-color;
      color: $theme-table-button-text-color;
      &:hover {
        background-color: $theme-table-button-hover-bg-color;
        color: $theme-table-button-hover-text-color
      }
      &:active {
        background-color: $theme-table-button-active-bg-color;
        color: $theme-table-button-active-text-color;
      }
      &:focus {
        background-color: $theme-table-button-active-bg-color;
        color: $theme-table-button-active-text-color;
      }
      & > i {
        color: $theme-table-button-text-color
      }
    }
  }
}

/*
5. Logotipo
 */
.own-sidenav-user {
  background-color: $theme-menu-logo-bg-color;
}

.own-sidenav {
  background-color: $theme-menu-bg-color;
  color: $theme-menu-text-color;
}

.own-sidenav-user > .edit a {
  color: $theme-menu-edit-icon-color;
}

/*
6. Modales
 */
.modal {
  background-color: $theme-modal-content-bg-color;
  color: $theme-modal-content-text-color;
  .modal-content {
    background-color: $theme-modal-content-bg-color;
    color: $theme-modal-content-text-color;
  }

  .modal-footer {
    background-color: $theme-modal-footer-bg-color;
    color: $theme-modal-footer-text-color;
    button {
      background-color: $theme-modal-footer-button-bg-color;
      color: $theme-modal-footer-button-text-color;

      &:hover {
        background-color: $theme-modal-footer-button-hover-bg-color;
        color: $theme-modal-footer-button-hover-text-color
      }
      &:active {
        background-color: $theme-modal-footer-button-active-bg-color;
        color: $theme-modal-footer-button-active-text-color;
      }
      &:focus {
        background-color: $theme-modal-footer-button-active-bg-color;
        color: $theme-modal-footer-button-active-text-color;
      }
      & > i {
        color: $theme-modal-footer-button-icon-color
      }
    }
  }
  i[mz-icon-mdi] {
    color: $theme-modal-content-icon-color;
  }
  i[mz-icon-mdi].active {
    color: $theme-modal-content-icon-active-color;
  }
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color: $theme-modal-content-switch-color !important;
  }
  .switch label input[type=checkbox]:checked + .lever {
    background-color: $theme-modal-content-switch-color !important;
  }
  .input-field input:focus + label {
    color: $theme-modal-content-input-label-color !important;
  }
  .input-field input {
    border-bottom: 1px solid $theme-modal-content-input-underline-unselected-color !important;
    box-shadow: 0 1px 0 0 $theme-modal-content-input-underline-unselected-color !important;
  }
  .input-field input:focus {
    border-bottom: 1px solid $theme-modal-content-input-underline-selected-color !important;
    box-shadow: 0 1px 0 0 $theme-modal-content-input-underline-selected-color !important;
  }
}

/*
7. Modal subir logotipo
 */

form.upload-logo {
  border-color: $theme-modal-upload-logo-box-border-color;
}

form.upload-logo div:not(.uploading) {
  color: $theme-modal-upload-logo-box-text-color;
}
form.upload-logo div.uploading {
  .spinner-layer {
    border-color: $theme-modal-upload-spinner-color
  }
}
/*
8. Mobile menu
 */
nav {
  background-color: $theme-nav-mobile-bg-color;
  color: $theme-nav-mobile-text-color
}
