/*
[Table of contents]
-------------------
0. Fonts
1. Body Styles
2. Sidebar Scrool Styles
3. Login Page Styles
4. 404 Page Styles
5. Margin-Padding Styles
6. Main Wrapper Styles
7. Navbar Dropdown Styles
8. Navbar User Pic. Styles
9. Main Sidenav Styles
10. Auth Page Styles
11. Dashboard Image Card Styles index.html
12. Button Styles
13. Cards Styles
14. BreadCrumb Styles
15. Icon Container Styles
16. Page Footer Styles
17. Timeline Styles
18. Dynamic Color Styles
19. Flag Icon Styles
20. Label Styles
21. Gallery 2 Page Styles
22. Other Styles
23. Helpers

================================================================================*/

/* 0. Fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v18-latin-ext_cyrillic-ext_cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto/roboto-v18-latin-ext_cyrillic-ext_cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto/roboto-v18-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto/roboto-v18-latin-ext_cyrillic-ext_cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-v18-latin-ext_cyrillic-ext_cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v15-latin-ext_cyrillic-ext_cyrillic_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: ArialRoundedMt;
    src: url('../fonts/arial-rounded-mt/bold.ttf');
}
/*1. Body Styles*/

::selection {
    background: #535353;
    color: #fff
}
::-moz-selection {
    background: #535353;
    color: #fff
}
body {
    overflow-x: hidden;
    margin: 0;
    background-color: #DCDCDC;
    color: #3C4858;
    overflow-y: auto;
    position: relative;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, 
body {
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* 2. Sidebar Scrool Styles */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(150, 150, 150, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(155, 155, 155, 0.4);
}

::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none
}


/* 3. Login Page Styles */

.login-logo {
    color: #000;
    font-family: ArialRoundedMt;
}

.login-box {
    height: 100vh;
    border-radius: 0em;
    background: rgba(255,255,255,0.97);
    padding: 2em !important;
}

@media only screen and (min-device-width: 480px) {
    .login-container {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/background/party.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .login-box {
        border-radius: 1em;
        height: 100%;
    }
    .login-container {
        height: 100vh
    }
}


/* 4. 404 Page Styles */

.container-404 {
    background: url(../img/404.jpg) no-repeat;
    background-size: cover;
    height: 100vh
}

.left-404 {
    background: rgba(255, 255, 255, .8);
    padding: 1em 2em !important;
    border-radius: 8px;
}

.left-404 h3 {
    font-size: 4em
}

.left-404 h1 {
    font-size: 10em
}

.left-404 .btn {
    width: 100%;
    margin-top: 20px
}


/* 5. Margin-Padding Styles */

.no-margin {
    margin: 0 !important;
}

.soft-hide {
    display: none;
}

.row {
    margin-bottom: 0!important;
}

.mb-10 {
    margin-bottom: 10px!important
}
.mb-15 {
    margin-bottom: 15px!important
}

.mb-20 {
    margin-bottom: 20px!important
}

.mb-30 {
    margin-bottom: 20px!important
}
.mt-20{
    margin-top: 20px!important
}
/* 6. Main Wrapper Styles */

.wrapper {
    width: 100%;
    height: auto;
    float: left;
}

.main .divider,
.main .main-nav,
.main .main-content {
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
}

.main-nav {
    padding: 0 0.7em;
}

.main-nav .nav-wrapper .info-circle {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    line-height: 16px;
    text-align: center;
    z-index: -1;
}

.main-nav .right li {
    float: right;
}

.main-nav .right li a {
    color: #9e9e9e;
}


/* 7. Navbar Dropdown Styles */
.nav-user > a> i.logout {
    float: right !important
}
.main-nav li>a:hover {
    background-color: rgba(221,221,221,0.3)
}
.dropdown-database {
    min-width: 300px;
    color: #26a69a;
    padding: 20px!important;
}

.dropdown-database li:not(.dropdown-footer):hover {
    cursor: default;
    background-color: inherit;
}

.dropdown-notifications {
    min-width: 300px;
}

.dropdown-notifications img {
    width: 14%;
    height: auto;
    float: left;
}

.dropdown-notifications div:not(.clearfix) {
    width: 86%;
    float: left;
    padding-left: 15px;
}

.dropdown-notifications div:not(.clearfix) p,
.dropdown-notifications div:not(.clearfix) time {
    margin: 0;
    padding: 0;
}

.dropdown-notifications div:not(.clearfix) time {
    display: block;
    text-align: right;
    margin-top: -5px;
    font-size: 10px;
    font-style: italic;
}

.dropdown-account {
    min-width: 150px;
}

.dropdown-account li,
.dropdown-account a,
.dropdown-account span,
.dropdown-account i {
    float: left;
}

.dropdown-account li,
.dropdown-account a {
    width: 100%;
}

.dropdown-account span,
.dropdown-account .material-icons {
    display: inline-block;
    height: 25px;
    line-height: 25px;
}

.dropdown-account .material-icons {
    width: 25px;
    margin-right: 10px;
    text-align: center;
}

.dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 300px!important;
    /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px;
    /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden;
    /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 999;
    will-change: width, height;
}


/* 8. Navbar User Pic. Styles */

.user-navbar-pic {
    position: relative;
    display: inline-block;
}

.user-navbar-pic img {
    width: 30px;
}

.user-navbar-pic span {
    margin-left: 10px;
}
.user-navbar-default {
    font-size: 30px!important;
}
/* 9. Main Sidenav Styles */
.own-sidenav {
    position: fixed;
    height: 100%;
    margin-top: 0;
    padding: 0 0 1em!important;
    overflow-y: auto;
    z-index: 999;
}

.own-sidenav-logo {
    color: #fff;
    padding: 1em;
    font-family: ArialRoundedMt;
}

.own-sidenav-logo p {
    margin: 0;
    padding: 1em;
}
.own-sidenav-mini > .own-sidenav-logo {
    font-size: 1em;
}

.own-sidenav-user .logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 100%;
}
.own-sidenav-user {
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0s;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: transparent;
    box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
    border-radius: 0;
    padding: 15px 5px 5px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 24px
}

.own-sidenav-user>a {
    display: block;
    width: 80px;
    height: auto;
    max-width: 100%;
    float: left;
    font-size: 14px
}

.own-sidenav-user>div {
    float: left;
    width: 150px;
    padding: 3px 0;
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
    text-align: center
}

.own-sidenav-user>div a {
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize
}

.own-sidenav-user>div p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 12px
}

.own-sidenav-links .collapsible,
.own-sidenav-links .collapsible-body,
.own-sidenav-links .collapsible-header {
    border: none;
    box-shadow: none;
    padding: 5px
}

.own-sidenav-links li.active>a:not(.collapsible-header) {
    background-color: rgba(0,0,0,.35);
}

.own-sidenav-links .collapsible-header,
.own-sidenav-links li>a {
    display: block;
    width: 100%;
    min-height: initial;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    will-change: auto;
}
.own-sidenav > .own-sidenav-links li>.collapsible-body>li>a {
    height: auto;
}

.own-sidenav-links .collapsible-header:hover,
.own-sidenav-links li>a:hover {
    background-color: rgba(0,0,0,.2);
}

.own-sidenav-links .collapsible-header .material-icons,
.own-sidenav-links .collapsible-header span,
.own-sidenav-links li>a .material-icons,
.own-sidenav-links li>a span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: left
}

.own-sidenav-links .collapsible-header span,
.own-sidenav-links li>a span {
    margin-left: 15px
}

.own-sidenav-links .collapsible-header .material-icons,
.own-sidenav-links li>a .material-icons {
    width: 30px;
    margin: 0;
    text-align: center
}

.own-sidenav-links .collapsible-body {
    padding-bottom: 10px
}

.own-sidenav-links .collapsible-body a {
    padding-left: 55px
}

.own-sidenav-mini {
    overflow-y: inherit!important
}

.own-sidenav-mini .parent-collapsible-header {
    position: relative
}

.own-sidenav-mini .collapsible-body {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 150px;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px!important;
    background-color: #039be5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}

.own-sidenav-mini .collapsible-body li a {
    padding: 10px 15px;
    font-size: 13px;
    color: #fff
}

.own-sidenav-mini .collapsible-body li a:hover {
    background-color: #42A5F5
}

.arrow_box {
    position: relative;
    background: #d5d5d5;
}

.arrow_box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 213, 213, 0);
    border-right-color: #1E88E5;
    border-width: 10px;
    margin-top: -45px;
}



/* 11. Dashboard Image Card Styles index.html */

.coverImage {
    position: relative;
}

.coverImage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top left, #4D9DE0, #3BB273);
    background-image: linear-gradient(to bottom right, #4D9DE0, #3BB273);
    opacity: .2;
}

.coverText {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #fff;
    font-size: 2em;
}


/* 12. Button Styles */

.btn {
    margin-bottom: 5px;
}

.btn-primary {
    color: #2196F3 !important;
}

.btn-secondary {
    color: #4CAF50 !important
}

.btn-floating.btn-default {
    background: transparent!important;
    box-shadow: none!important;
}

.btn-floating.btn-default i {
    color: #000;
}


/* 13. Cards Styles */

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 15px 0!important;
    border-radius: 3px;
    background: #fff;
}

.card_2 {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 15px 0;
    border-radius: 3px;
    background: #fff;
}

.card-panel {
    min-height: 100px;
}

.card .card-height-indicator {
    margin-top: 100%;
}

.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .card-content {
    padding: 15px 20px;
}

.card .card-content .category {
    margin-bottom: 0;
}

.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
}

.card-header i {
    color: #fff;
}

.card .card-header_2 {
    padding: 15px;
}

.card .card-header .title {
    color: #FFFFFF;
}

.card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card .card-header.card-chart {
    padding: 0;
    min-height: 160px;
}

.card .card-header.card-chart+.content h4 {
    margin-top: 0;
}

.card .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.card .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.card .card-header .ct-series-a .ct-point,
.card .card-header .ct-series-a .ct-line,
.card .card-header .ct-series-a .ct-bar,
.card .card-header .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}

.card .card-header .ct-series-a .ct-slice-pie,
.card .card-header .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}

.card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}

.card .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}

.card .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.card .card-footer {
    margin: 0 20px 13px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.card .card-footer .content {
    display: block;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-footer .author {
    color: #999999;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #999999;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 14px;
}

.card .card-footer h6 {
    color: #999999;
}

.card img {
    width: 100%;
    height: auto;
}

.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}

.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}

.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #3C4858;
    text-decoration: none;
}

.card .author a .ripple-container {
    display: none;
}

.card .table {
    margin-bottom: 0;
}

.card .table tr:first-child td {
    border-top: none;
}

.card [data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card [data-background-color="grey"] {
    background: linear-gradient(60deg, #cfd9df, #e2ebf0);
    color: #000!important;
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color] a {
    color: #FFFFFF;
}

.product-sales,
.team-member,
.user-table,
.montly-sales,
.sales-chart {
    padding: 5px 0!important;
}

.card-panel-title {
    color: #A5ABAF;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #A5ABAF;
    margin: 0
}

.table-user tr:last-child {
    border-bottom: 0;
}

.card-stats .title {
    margin: 0;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card-icon {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 15px 0!important;
    border-radius: 3px;
    background: #fff;
    padding: 0!important
}

.card-icon-span {
    float: left;
    height: 100px;
    width: 90px;
    text-align: center;
    margin: 0;
    border-radius: 0;
}

.card-icon-span i {
    font-size: 5em;
    padding: 15px 8px;
}

.card-icon-content {
    padding: 5px 10px!important;
    margin-left: 90px;
    height: 100px;
}

.card-icon-title {
    margin-bottom: 10px;
    font-size: .85em
}

.card-icon-price {
    font-size: 1.6em
}

@media screen and (max-device-width: 480px) {

    .card-basic .card-content .title {
        font-size: 1.1em;
    }
    .breadcrumb {
        font-size: 10px!important;
    }
    .ui.animated.button {
        margin-bottom: 10px;
    }
    .left-404 h1 {
        font-size: 5em;
    }
    .left-404 h3 {
        font-size: 2em;
    }
    .filtr-item{
        margin-bottom: 10px;
        margin-right: 10px!important;
    }
    .dropdown-content.active {
        min-width: 100px!important;
        left:0!important;
    }
    .filtr-item img{

        margin-right: 15px!important;
        margin-bottom: 15px!important
    }
}

.card-gradient {
    height: 150px;
    padding: 10px 20px!important;
    position: relative;
}

.card-panel[data-background-color="gradient1"] {
    background: -webkit-linear-gradient(-90deg, #1CD8D2, #93EDC7);
    background: -o-linear-gradient(-90deg, #1CD8D2, #93EDC7);
    background: -moz-linear-gradient(-90deg, #1CD8D2, #93EDC7);
    background: linear-gradient(-90deg, #1CD8D2, #93EDC7);
}

.card-panel[data-background-color="gradient2"] {
    background: -webkit-linear-gradient( -90deg, #f857a6, #ff5858);
    background: -o-linear-gradient( -90deg, #f857a6, #ff5858);
    background: -moz-linear-gradient( -90deg, #f857a6, #ff5858);
    background: linear-gradient( -90deg, #f857a6, #ff5858);
}

.card-panel[data-background-color="gradient3"] {
    background: -webkit-linear-gradient( -90deg, #00c6ff, #0072ff);
    background: -o-linear-gradient( -90deg, #00c6ff, #0072ff);
    background: -moz-linear-gradient( -90deg, #00c6ff, #0072ff);
    background: linear-gradient( -90deg, #00c6ff, #0072ff);
}

.card-panel[data-background-color="gradient4"] {
    background: -webkit-linear-gradient( -90deg, #834d9b, #d04ed6);
    background: -o-linear-gradient( -90deg, #834d9b, #d04ed6);
    background: -moz-linear-gradient( -90deg, #834d9b, #d04ed6);
    background: linear-gradient( -90deg, #834d9b, #d04ed6);
}

.card-gradient-header {
    font-size: 16px;
    text-align: left;
    color: #f3fdfc;
    margin-bottom: 20px;
}

.card-gradient-content {
    border-left: 2px solid white;
    height: 70px;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.card-gradient-number {
    font-size: 50px;
    margin-left: 15px;
    float: left;
    color: white;
    margin-right: 10px;
}

.card-gradient-arrow {
    float: left;
    font-size: 30px;
    padding-top: 20px;
    margin-right: 10px;
}

.card-gradient-increase {
    float: left;
    font-size: 30px;
    padding-top: 20px;
    color: white;
}

.card-gradient-progress {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 1;
    top: 0px;
    right: 30px;
    margin-top: 10px;
}

.card-gradient-progress>svg {
    height: 100%;
    display: block;
}

.card-panel-content {
    padding: 10px;
}

.dashboard4-card {
    padding: 0!important
}

.dashboard4-card-title {
    padding: 10px 15px;
    position: relative
}

.dashboard4-card-title h5 {
    color: #454a5d;
}

.dashboard4-card-extra {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
}

.card-nav-tabs .header-raised {
    margin-top: -30px;
}

.card-nav-tabs .nav-tabs {
    background: transparent;
    padding: 0;
}

.card-nav-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .card-header {
    margin-left: 0;
    margin-right: 0;
}

.card-plain .content {
    padding-left: 5px;
    padding-right: 5px;
}

.card-plain .card-image {
    margin: 0;
    border-radius: 3px;
}

.card-plain .card-image img {
    border-radius: 3px;
}

.card-basic {
    height: 100px;
    margin: 0 0 20px 0!important
}

.card-basic .card-header {
    float: left;
    height: 100px;
    width: 90px;
    text-align: center;
    margin: 0;
    border-radius: 0;
}

.card-basic .card-header i {
    font-size: 4em;
}

.card-basic .card-content {
    padding: 5px 10px!important;
    margin-left: 90px;
    height: 100px;
}

.card-basic .card-content .title {
    margin-top: 30px;
    font-size: 1.2em;
}

.card-stat {
    padding: 0!important;
}

.card-stat-content {
    padding: 8px 18px;
    width: 100%;
}

.card-stat-title {
    width: 100%;
    text-align: center;
    height: 30;
    border-bottom: solid 1px #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #A5ABAF;
    font-size: 24px;
    font-weight: 400
}

.card-stat-number {
    font-weight: 400;
    font-size: 1.8em;
}

.card-stat-icon {
    font-weight: 400;
    font-size: 32px;
    text-align: right;
    border-left: 1px solid #ddd
}

.team-member {
    border: 0!important;
}

.card-panel {
    position: relative;
}

.card-panel .card-header {
    padding: 0 0 0px 0;
    margin: 0 0 10px 0;
    border-bottom: solid 1px #ccc;
}

.card-panel .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.card-panel.card-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
}

.card .card-image {
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 6px 30px rgba(0, 0, 0, 0.4);
}

.card .card-image img {
    object-fit: cover;
}

.ui.cards>.card {
    display: flex!important;
    margin: 0.875em 0.5em!important;
    float: none!important;
}

.image-col-shadow .ui.image {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 6px 30px rgba(0, 0, 0, 0.4);
}

.image-section .card-panel {
    padding: 13px!important
}

.button-section .row .col .card-panel {
    padding-top: 35px;
}

.ui.labeled.button {
    margin-bottom: 10px!important;
}

.card-panel a,
.card-panel button {
    margin-bottom: 5px!important;
}

.grid-section .row .col .card-panel {
    min-height: 50px!important;
}


/* 14. BreadCrumb Styles */

.breadcrumb i {
    float: none!important;
}

.bread-icon i {
    vertical-align: top;
    font-size: 16px!important;
}


/* 15. Icon Container Styles */

.icon-container i {
    font-size: 3em;
    margin-bottom: 10px
}

.icon-container .icon-preview {
    height: 120px;
    text-align: center
}

.icon-container span {
    display: block
}

.icon-holder {
    display: block;
    text-align: center;
    width: 115px;
    height: 115px;
    float: left;
    margin: 0 0px 5px 0px
}

.icon-holder p {
    margin: 0 0
}


/* 16. Page Footer Styles */

.page-footer {
    padding-top: 0!important;
    position: fixed;
    width:100%;
    bottom:0;
    left:0;
    text-align: center;
    z-index: 9999;
}
.footer-copyright{
    background-color: transparent!important

}

/* 17. Timeline Styles */

.timeline ul {
    margin: 0 0 0 50px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #606060;
    font-size: 13px;
    height: 500px;
    width: 100%;
}

.timeline ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #606060;
}

.timeline ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

.timeline ul li:not(:first-child) {
    margin-top: 60px;
}

.timeline ul li>span {
    width: 2px;
    height: 100%;
    background: #606060;
    left: -30px;
    top: 0;
    position: absolute;
}

.timeline ul li>span:before,
.timeline ul li>span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #606060;
    position: absolute;
    background: #86b7e7;
    left: -3px;
    top: 0;
}

.timeline ul li span:after {
    top: 100%;
}

.timeline ul li>div {
    margin-left: 10px;
}

.timeline div .title,
.timeline div .type {
    font-weight: 600;
    font-size: 16px;
}

.timeline div .info {
    font-weight: 300;
}

.timeline div>div {
    margin-top: 5px;
}

.timeline span.number {
    height: 100%;
}

.timeline span.number span {
    position: absolute;
    font-size: 14px;
    left: -45px;
    font-weight: bold;
    margin-top: -7px
}

.timeline span.number span:first-child {
    top: 0;
}

.timeline span.number span:last-child {
    top: 100%;
}


/* 18. Dynamic Color Styles */

.dynamic-color .red,
.dynamic-color .pink,
.dynamic-color .purple,
.dynamic-color .deep-purple,
.dynamic-color .indigo,
.dynamic-color .blue,
.dynamic-color .light-blue,
.dynamic-color .cyan,
.dynamic-color .teal,
.dynamic-color .green,
.dynamic-color .light-green,
.dynamic-color .lime,
.dynamic-color .yellow,
.dynamic-color .amber,
.dynamic-color .orange,
.dynamic-color .deep-orange,
.dynamic-color .brown,
.dynamic-color .grey,
.dynamic-color .blue-grey,
.dynamic-color .black,
.dynamic-color .white,
.dynamic-color .transparent {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    line-height: 55px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row .dynamic-color .col {
    margin-bottom: 20px!important;
}


/* 19. Flag Icon Styles */

.flag-icon {
    font-size: 3.5em
}

.card-panel-label {
    padding: 30px!important;
    min-height: 190px;
}


/* 20. Label Styles */

.ui.label {
    margin-bottom: 10px!important;
}

.ui.label.larged {
    cursor: pointer;
    display: inline-block;
}

.ui.label.larged i {
    font-size: 2em;
    vertical-align: top;
    margin-right: 5px;
}

.ui.label.larged span {
    font-size: 2em;
    vertical-align: middle;
}

.ui.message>.close.icon {
    top: 5px!important;
    right: 5px!important;
    font-size: 1em!important
}

.ui.list .material-icons {
    font-size: 1em;
}

.ui.circular.image {
    height: auto;
    height: 115px;
    width: 115px;
    object-fit: cover;
    border-radius: 50%!important;
}

.nav-wrapper .brand-logo,
.nav-content .tabs,
.nav-content {
    margin-left: 10px;
}

.label-icon i {
    margin-top: -10px;
}


/* 21. Gallery 2 Page Styles */

.my-gallery {
    padding: 0.25em;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-self: baseline;
}

.my-gallery figure {
    float: left;
    width: 50%;
    padding: 0.25em;
    margin: 0;
    align-self: baseline;
}

.pswp__img {
    border-radius: 5px;
}

.my-gallery img {
    display: block;
    width: 100%;
    height: auto;
}

.my-gallery figcaption {
    display: none;
}

.pswp__caption__center {
    text-align: center!important;
    font-size: 1.4em!important;
    margin-bottom: 5px!important;
}

.my-gallery figure:nth-child(odd) {
    clear: left;
}

@media screen and (min-width: 40em) {
    .my-gallery figure {
        width: 33.3333333333333333%;
    }
    .my-gallery figure:nth-child(3n+1) {
        clear: left;
    }
    .my-gallery figure:nth-child(odd) {
        clear: none;
    }
}

@media screen and (min-width: 55em) {
    .my-gallery figure {
        width: 25%;
    }
    .my-gallery figure:nth-child(4n+1) {
        clear: left;
    }
    .my-gallery figure:nth-child(3n+1) {
        clear: none;
    }
}

@media screen and (min-width: 72em) {
    .my-gallery figure {
        width: 20%;
    }
    .my-gallery figure:nth-child(5n+1) {
        clear: left;
    }
    .my-gallery figure:nth-child(4n+1) {
        clear: none;
    }
}

@media screen and (min-width: 90em) {
    .my-gallery figure {
        width: 16.666666666%;
    }
    .my-gallery figure:nth-child(6n+1) {
        clear: left;
    }
    .my-gallery figure:nth-child(5n+1) {
        clear: none;
    }
}


/* 22. Other Styles */

.relative-position {
    position: relative;
}

.relative-position .fixed-action-btn {
    position: absolute;
}

.dp48 {
    cursor: pointer;
}

#staggered-test {
    min-height: 482px;
}

#staggered-test li,
#image-test {
    opacity: 0
}

#staggered-test li {
    float: left;
}

.transition-section .row .col .card-panel .btn,
.transition-section .row .col .card-panel img {
    width: 100%!important
}

.tab-section .row .col .card-panel .card-content {
    padding: 20px 5px;
    min-height: 300px;
}

.tab-swipe-demo-card {
    min-height: 250px;
    padding: 15px;
}

.switch {
    margin-bottom: 10px;
}

#range-input {
    margin-top: 30px;
}

.word-count-panel {
    min-height: 200px;
}

.autocomplete-panel {
    min-height: 111px;
}


.nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top:3px!important;
    margin-left:0!important;
}
.collection-item.lang-selected{
    background-color: rgba(0,0,0,0.07);
}
span.title.langname {
    padding: 1.5em 1em;
    text-align: center;
}
.circle.avatar 
{
    top:2em;
}
/* 23. Helpers */
.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.col.no-padding {
    padding: 0 !important
}
/* Preloader */
#preloader {
    width: 100%;
    position: fixed;
    height: 100%;
    background: #DCDCDC;
    z-index: 5
}
#preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    border-radius: 50%;
    z-index: 100;
}

.menu {
    background-color: rgb(51, 51, 51) !important;
    color: #dddddd!important
}
/* FIX FOR MATERIALIZE SELECT VISIBILITY */
.modal {
    overflow: visible !important;
}
ngx-datatable {
    overflow: visible !important;
}
.text-center {
    text-align: center !important
}
.logged-out.sublink {
    margin-top: 2em;
    font-size: 1rem;
    color: #9e9e9e;
}
.own-sidenav-links .collapsible-header {
    height: 50px
}
.own-sidenav-links a {
    color: #ffffff;
}
.own-sidenav-links .collapsible {
    margin: 0 0 0 0;
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    margin-right: 15px;
}
.collapsible-header i {
    margin-right: 1rem;
}
.side-nav li>a {
    padding: 0 0;
}
@media only screen and (max-width: 992px)
{
    .side-nav a {
        padding: 0 0
    }
}
.menu li.active {
    background-color: rgba(0,0,0,.35);
}